/*  your css code here. If applicable */
#container {
    margin: 20px;
    position: relative;
}

#container::before,
#container::after {
    content: "Special Text ";
    color: #f00;
    font-size: 20px;
}

#container::before {
    content: "Before: Special Text ";
}

#container::after {
    content: " After: Special Text";
}
